<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="classes" thread-count="2">
  
  <parameter name="env" value="qa01"/>
  <test name="Test_1">
    <classes>
      <class name="com.example.selenideFw.accounts.ProfileManagementTest"/>
      <class name="com.example.selenideFw.contracts.AddContractTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
